*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    padding-left: 180px;
    padding-right: 180px;
    padding-bottom: 30px;
    padding-top: 20px;
}
.header h1{
    font-size: 24px;
    color: #F9FAF8;
}
.header ul li{
    list-style: none;
}
.header ul{
    display: flex;
    gap: 40px;
}
.header ul li a{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}
.container-one{
    background-color: #1F2937;
    height: 80vh;
}
.content-container {
    display: flex;
    height: 60vh;
    align-items: center;
    gap: 40px;
    justify-content:center;
}
.image img{
height: 270px;
width: 500px;
object-fit: fill;
}
.content h1{
font-size: 48px;
color:#F9FAF8 ;
font-weight: bolder;
padding-bottom: 20px;
}
.container-one button{
    background-color: #3883F6;
    padding: 8px 25px 8px 25px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    color: #F9FAF8;
    outline: none;
    font-size: 18px;
}
.content p {
    color:#E5E7EB;
    padding-bottom: 30px;
}
.cards{
    display: flex;
    justify-content: center;
    gap: 50px;
    height: 55vh;
    align-items: center;
}
.card{
    width: 170px;
}
.container-two{
    height: 70vh;
    align-items: center;
}
.container-two h1{
    color: #1F2937;
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    margin-top: 60px;
}
.card img{
    width: 170px;
    height: 170px;
    object-fit: fill;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 3px solid #3883F6;
}
.card p{
    text-align: center;
    color: #445061;
    font-size: 17px;
}
.container-three{
    background-color: #E5E7EB;
    height: 60vh;
}
.container-three p{
    font-size: 36px;
    margin-left: 210px;
    padding-top: 100px;
    color: #1F2937;
    font-weight: lighter;
    font-style: italic;
}
.container-three h2{
    float: right;
    margin-right: 200px;
    padding-top: 20px;
    color: #1F2937;
}
.container-four{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.four-content{
    background-color: #3883F6;
    height: 25vh;
    padding-right: 80px;
    border-radius: 10px;
    padding-left: 80px;
    display: flex;
    align-items: center;
    width: 80vw;
    justify-content:space-between;
}
.container-four button{
    border: 2px solid #F9FAF8;
    padding: 8px 25px 8px 25px;
    border-radius: 10px;
    font-weight: bold;
    background: transparent;
    color: #F9FAF8;
    outline: none;
    font-size: 18px;
}
.cont p{
    color: #E5E7EB;
}
.cont h1{
    color: #F9FAF8;
}
footer{
 height: 100px;
 background-color: #1F2937;
 display: flex;
 align-items: center;
 color: #F9FAF8;
 justify-content: center;
}
footer i{
    padding-right: 2px;
    margin-top: 2px;
    padding-left: 2px;
}
